@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700'); */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Varela+Round');
html, body, div, span, applet, object, iframe,blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Poppins', sans-serif;
}
html{
	overflow: auto !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin: 0;
	line-height: 1;
	min-width:320px;
	overflow-x:hidden;
    font-family: 'Poppins', sans-serif;
	background: #ffffff;;
}
b, strong{
	font-weight: bolder;
}
a {
	text-decoration: none;
}
ol, ul {
	list-style: none;
	line-height: 20px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p{
	line-height: 20px;
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }
/*Common styles*/ 
.navbar-nav li > a,.navbar-light .navbar-nav .nav-link{
	color: #6C6C6C;
	padding: 5px;
	margin: 0px 8px;
	display: block;
}
.navbar-nav a.active{
	color: #ff0000 !important;
	background: none !important;
}
.wrappage{
	width: 100%;
	background: url("../hero-background-image-02.jpg") no-repeat top center;
	background-size: 100%;
}
.wrappage .header{
	width: 100%;
}
.header .menuarea {
	
}
.header .menuarea > .container{

}
 
.full-width-line{
	border-bottom: .1rem solid rgba(0,0,0,.1);
	width: 100%;
	float: left;
}
.header .topnav {
	background: #363636;
}
.header .topnav .numbers a {
	color: #FFFFFF;
	display: inline-block;
	text-decoration: none;
	padding: 9px 0px;
	font-size: 13px;
}
.header .topnav .numbers a.get-qut {
	background-color: #17a2b8;
	border-color: #17a2b8;
	line-height: 5px;
	margin-top: 4px;
	margin-left: 18px;
	font-size: 12px;
	padding: 11px;
}
.header .topnav .numbers a svg{
	margin-right: 8px;
}
.header .topnav .loginreg{
	float: right;
}
.header .topnav .loginreg ul li{
	float: left;
	border-left: 1px solid #666666;
}
.header .topnav .loginreg ul li a{
	float: left; 
	display: inline-block;
	padding: 8px 8px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
}
.header .topnav .numbers a i{
	margin-right: 5px;
}
.header .topnav .loginreg ul li a:hover{
	background-color: rgba(255,255,255,.1);
}
.header .topnav .loginreg ul li a i{
	margin-right: 5px;
} 
.main-content {
	overflow: auto;
	clear: both;
	position: relative;
	padding-bottom: 50px;
}
.main-content .main-search-form{
	margin-top: 100px;
}
.main-search-form .form-row{
	
}
.main-search-form .form-row .form-group{
	position: relative;
}
.main-search-form .form-row .form-group label{
	font-size: 25px;
	color: #ff0000;
	position: absolute;
	top: -45px;
	font-weight: normal;
}
.main-search-form .form-row .form-group input{
	box-shadow: inset 0 0 1rem 0 rgba(0,0,0, .1);
	border: .1rem solid rgba(0,0,0, .15);
	border-radius: .3rem;
	color: #363636;
	transition: .3s;
	transform-style: preserve-3d;
	-webkit-appearance: none;
	background-color: #fff;
	font-size: 20px;
	outline: none !important;
	width: 100%;
	height: inherit;
	padding: 10px;
}
.main-search-form .form-row .form-group p{
	opacity: .65;
	font-weight: normal;
	margin-top: 5px;
}
.main-search-form .form-row .form-group p a {
	color: #ff0000 !important;
}
.main-search-form .form-row button.width-100{
	background-color: #ff0000;
	border-color: #ff0000;
	width: 100%;
	font-size: 28px;
	line-height: 40px;
}
.twosponsor {
	position: relative;
}
.twosponsor a{
	
}
.side-nav a{
	display: block;
}
.side-nav a i{
	margin-right: 15px;
}
.twosponsor a img{
	display: block;
	margin: 30px auto;
}
.footer{
	background: url("../footer-background-icons.jpg") center center no-repeat;
	background-size: 100%;
	padding: 20px 0px;
}
.footer .foot-img{ 

}
.footer .foot-img a{
	
}
.footer .foot-img a img{
	display: block;
	margin: 20px 0px;
}
.foot-p{
	max-width: 485px;
	width: 100%;
}
.foot-p p{
	font-size: 15px;
	line-height: 20px;
}
.footer h3 {
	font-family: 'Varela Round', sans-serif;
	font-size: 24px;
	margin-bottom: 30px;
	padding-top: 1rem;
	color: #303030;
}
.footer ul{
	
}
.footer ul li{
	width: 50%;
	float: left;
}
.footer ul li a {
	color: #424242 !important;
	font-weight: 400;
	text-decoration: none;
	font-size: 15px;
	transition: .3s color ease, .3s background-color ease, .3s box-shadow ease;
	display: block;
	margin-bottom: 10px;
}
.footer ul li a:hover{
	color: #ff0000 !important;
}
address figure{
	margin-bottom: 15px;
}
address figure,address{
	font-size: 15px;
}
.footer ul li a:hover{
	color: #ff0000;
}
.footer .address{
	
}
.footer .address strong{
	
}
.foot-term p{
	margin-top: 10px;
	font-size: 8px;
}
.navbar-link, a.navbar-item {
    cursor: pointer;
    font-size: 15px;
}
.navbar-start {
	margin: 0px !important;
	margin-left: auto !important;
}


/* login */
.login-wrap {
	width: 100% !important;
	max-width: 370px;
	margin: 50px auto;
}
.custom-control-label::before{
	top: 11px;
}
.custom-control-label::after{
	top: 11px;
}
.login-wrap a.button{
	color: #FFFFFF !important;
	background: #ff0000;
}
.login-wrap a.button:hover{
	color: #FFFFFF !important;
	background: #ff0000;
	box-shadow: 0 .1rem 1.5rem rgba(0,0,0,.4);
}
.login-wrap i.fas{
	color: #000000 !important;
} 
.control.has-icons-right .icon.is-right {
	right: 0;
	top: 6px;
}
.login-wrap a.forgotPass {
	margin-top: 10px;
	font-size: 15px;
	display: block;
	font-weight: 500;
}
.login-wrap a.forgotPass:hover{
	color: #ff0000 !important;
}

/* resultpage */
.SearchResult{

}
.SearchResult .wrapSearchResult{

}
.wrapSearchResult .singleResultW{
	width: 100%;
	height: 200px;
	overflow: hidden;
	padding: 10px 15px;
	background: #ffffff;
	color: #363636;
	border-radius: 5px;
	margin: 20px 0px;
	box-shadow: 0 .1rem 1rem rgba(0,0,0,.1);
	transition: .3s box-shadow ease, .3s transform ease;
}
.wrapSearchResult .singleResultW:hover {
	box-shadow: 0 .4rem 3.3rem rgba(0,0,0,.3);
	transform: translateY(-.2rem);
}
.singleResultW .searchImg {
	float: left;
	width: 250px;
	height: 180px;
	overflow: hidden;
}
.singleResultW .searchImg img{
	width: 100%;
}
.singleResultW .wrapSDetl{
	float: left;
	width: 410px;
	margin: 0px 12px;
}
.wrapSDetl h2{
	
}
.wrapSDetl a.search-place{
	font-size: 14px;
	color: #3D3D3D;
}
.wrapSDetl .description{
	height: 108px;
}
.wrapSDetl .description p{
	margin-top: 10px;
}
.singleResultW .date-view{
	float: left;
	position: relative;
	height: 180px;
	overflow: auto;
	width: 92px;
}
.singleResultW .date-view .meta{
	position: absolute;
	top: 10px;
	right: 0px;
}
.singleResultW .date-view .meta figure{
	
}
.meta figure i{
	
}
.singleResultW .date-view a.view-result{
	right: 0px;
	bottom: 15px;
	border: .1rem solid #ff0000;
	padding: 8px 20px;
	text-transform: none;
	font-size: 16px;
	z-index: 2;
	position: absolute;
	border-radius: 4px;
	color: #ff0000;
}
.width-100{
	width: 100%;
	color: #FFFFFF;
	border: none;
	background: #ff0000;
}
.header .topnav .loginreg ul li ul {
	background: #505050;
	font-size: 11px;
	top: 34px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	text-align: left;
}
.header .topnav .loginreg ul li ul a,.header .topnav .loginreg ul li ul li{
	display: block;
	width: 100%;
	font-size: 12px;
}
.header .topnav .loginreg ul li ul a svg{
	font-size: 15px;
}
.container {
	padding: 0px 20px;
}
.navbar-item img {
	max-height: 44px !important;
	max-height: 2.75rem !important;
}
.container h1{
	margin-bottom: 30px;
}
.side-nav a svg{
	margin-right: 10px;
}
.custom-ul ul {
	list-style: disc outside;
	color: #585858;
	padding-left: 35px;
	margin-bottom: 10px;
}
.custom-ul ul li{

}
.loginreg .dropdown-menu::after{
	display:none; 
}
.navbar-burger.burger {
	position: absolute;
	top: 5px;
	right: 10px;
}
.navbar {
	z-index:10 !important;
	background: none !important;
}
.column.is-half{
	padding: 0px;
}
.columns{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover {
	background-color:transparent !important;
}
.navbar.is-white .navbar-end .navbar-link.is-active, .navbar.is-white .navbar-end .navbar-link:hover, .navbar.is-white .navbar-end > a.navbar-item.is-active, .navbar.is-white .navbar-end > a.navbar-item:hover, .navbar.is-white .navbar-start .navbar-link.is-active, .navbar.is-white .navbar-start .navbar-link:hover, .navbar.is-white .navbar-start > a.navbar-item.is-active, .navbar.is-white .navbar-start > a.navbar-item:hover {
	background-color:transparent !important;
}
.b-radio.radio {
	margin-left: 0px !important;
	padding: 10px 0px 0px 0px !important; 
}
.container h1{
	font-size: 36px;
}
a {
	color: #000 !important;
	transition: .3s color ease, .3s background-color ease, .3s box-shadow ease;
}
a:hover {
	color:#ff0000;
}
.main-search-form p a{
	color:#ff0000;
}
.topnav a{
	color: #FFFFFF !important;
}
.button.is-danger{
	color: #FFFFFF !important;
}
.header .topnav .numbers a.get-qut:hover{
	background-color: #3D3D3D;
	color: #FFFFFF;
	transition: .3s color ease, .3s background-color ease, .3s box-shadow ease;
}
.topnav .column{
	padding-top: 0px;
	padding-bottom: 0px;
}
.select.is-info select, .select.is-info:not(:hover)::after {
	border-color: #000000 !important;
}
.select.is-info select.is-hovered, .select.is-info select:hover {
	border-color: red !important;
}
.main-content::after {
	background-image: url("../hero-overlay.png");
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 100%;
    height: 4.8rem;
	bottom: 0;
}
.twosponsor{
	background-color: #f2f2f2;
}
.twosponsor::after {
	background-image: url("../footer-overlay.png");
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%;
	height: 4.2rem;
	left: 0;
	content: "";
	position: absolute;
}
.header {
	background-color: #ffffff;
	position: relative;
	height: 180px;
}
.wrappage section .container > h1{
	margin-top: -65px;
}
.header .menuarea::after {
	background-image: url("../hero-overlay-2.png");
	background-size: contain;
	background-position: bottom center;
	background-repeat: no-repeat;
	position: absolute;
	content: "";
	width: 100%;
	height: 4.8rem;
	bottom: -33px;
	left: 0px;
}
@media all and (max-width: 1280px) and (min-width: 1080px) {
	.singleResultW .wrapSDetl {
		float: left;
		width: 290px;
		margin: 0px 12px;
	}
	.singleResultW .date-view {
		float: left;
		position: relative;
		height: 180px;
		overflow: auto;
		width: 85px;
	}
}
@media (max-width: 1200px) {
	.singleResultW .wrapSDetl {
		float: left;
		width: 290px;
		margin: 0px 12px;
	}
}
@media (max-width: 1090px) {
	.navbar-menu{
		background-color: transparent !important;
		box-shadow:none !important;
	}
}

@media (max-width: 990px) {
	.singleResultW .searchImg {
		float: left;
		width: 180px;
		height: 180px;
		overflow: hidden;
	}
	.singleResultW .wrapSDetl {
		float: left;
		width: 183px;
		margin: 0px 12px;
	}
}
 
@media (min-width: 768px){
	.dropdown-item {
		display: block;
		width: 100%;
		padding: .25rem 1.5rem;
		clear: both;
		font-weight: 400;
		color: #85898D;
		text-align: inherit;
		white-space: nowrap;
		background-color: transparent;
		border: 0;
		font-size: 14px;
		border-bottom: 1px solid #F1F1F1;
		padding: 9px 12px;
	}
	.dropdown .dropdown-menu {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		max-height: 0;
		display: block;
		opacity: 0;
		box-shadow: 0px 10px 14px rgba(0,0,0,.15);
		border-radius: 3px;
		transform: translateY(1px);
		border: 0px;
		text-align: right;
		right: 0px;
		left: auto;
		overflow: hidden;
	}
	.dropdown .dropdown-menu::before {
		position: absolute;
		width: 100%;
		height: 1.5rem;
		background-color: transparent;
		content: "";
		top: -1.5rem;
		right: 0;
	}
	.dropdown .dropdown-menu::after {
		position: absolute;
		top: -12px;
		right: 15%;
		content: '\25B2';
		color: #FFF;
	}
	.dropdown:hover .dropdown-menu {
		max-height: 200px;
		opacity: 1;
		display: block !important;
	}
	.navbar-expand-md .navbar-nav .dropdown-menu{
		position: absolute;
		overflow: visible;
		display: none;
	}
	
}


@media (max-width: 767px) {
	.header .topnav .loginreg ul li a span{
		display: none;
	}
	.topnav .column.is-half {
		padding: 0px;
		width: 50%;
		overflow: auto;
		display: inline-block;
	}
	.nav.float-right{
		float: none !important;
		width: 100%;
	}
	.nav.float-right .navbar{
		width: 100%;
		display: block;
	}
	.nav.float-right .navbar .navbar-toggler{
		float: right;
		margin-top: -50px;
	}
	.nav.float-right .navbar .navbar-brand{

	}
	.main-search-form .form-row .form-group label {
		font-size: 25px;
		color: #ff0000;
		position: relative;
		top: -54px;
		font-weight: normal;
		margin-bottom: 0px;
		padding: 0px;
	}
	.main-search-form .form-row .form-group p {
		opacity: .65;
		font-weight: normal;
		margin-top: 8px;
		font-size: 13px;
	}
	.footer {
		background: url("../footer-background-icons-mobile.jpg") center center repeat;
	}
	.foot-p {
		text-align: center;
	}
	.footer .foot-img a {
		display: inline-block;
		margin: 0px auto;
	}
	.footer .foot-img {
		text-align: center;
	}
	.footer h3 {
		text-align: center;
	}
	.footer ul li {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.footer address {
		text-align: center;
	}
	.foot-term p {
		text-align: center;
	}
	.main-content .main-search-form {
		margin-top: 10px;
	}
	.navbar-nav li > a, .navbar-light .navbar-nav .nav-link {
		color: #6C6C6C;
		padding: 10px 0px;
		margin: 0px 0px;
		display: block;
		font-size: 18px;
	}
	.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 10rem;
		padding: .5rem 0;
		margin: 0px;
		font-size: 1rem;
		color: #212529;
		text-align: left;
		list-style: none;
		background-color: #fbfbfb;
		background-clip: padding-box;
		border: none;
		border-radius: 0px;
	}
	.dropdown-menu a.dropdown-item {
		display: block;
		width: 100%;
		padding: 10px;
		clear: both;
		font-weight: 400;
		color: #4A4A4A;
		text-align: inherit;
		white-space: nowrap;
		background-color: transparent;
		border-bottom: 1px solid #EDEDED;
	}
	.dropdown-menu a.dropdown-item:hover{
		color: rgba(0, 0, 0, 0.7);
		transition: .3s color ease, .3s background-color ease, .3s box-shadow ease;
		background-color: rgba(0,0,0,.02);
	}
}
@media (max-width: 580px) {
	
	.singleResultW .wrapSDetl {
		float: left;
		width: 100%;
		margin: 0px 12px;
	}
	.singleResultW .searchImg {
		float: none;
		width: 250px;
		height: 180px;
		overflow: hidden;
		margin: 0px auto 20px;
	}
	.wrapSearchResult .singleResultW{
		position: relative;
	}
	.singleResultW .date-view {
		float: left;
		position: absolute;
		height: 41px;
		overflow: auto;
		width: 171px;
		right: 10px;
		bottom: 0px;
	}
	.singleResultW .date-view .meta {
		position: absolute;
		top: 10px;
		right: auto;
		left: 0px;
	}
	.singleResultW .date-view a.view-result {
		right: 0px;
		bottom: 6px;
		border: .1rem solid #ff0000;
		padding: 3px 14px;
		text-transform: none;
		font-size: 14px;
		z-index: 2;
		position: absolute;
		border-radius: 4px;
		color: #ff0000;
	}
	.wrapSDetl .description {
		height: 66px;
		overflow: hidden;
	}
	.wrapSearchResult .singleResultW {
		width: 100%;
		height: 400px;
	}
}
@media (max-width: 380px){
	.header .topnav .numbers a.get-qut {
		background-color: #17a2b8;
		border-color: #17a2b8;
		line-height: 1px;
		margin-top: 6px;
		margin-left: 0px;
		font-size: 9px;
		padding: 11px;
	}
	.header .topnav .loginreg ul li a {
		float: left;
		display: inline-block;
		padding: 8px 6px;
		color: #FFFFFF;
		text-decoration: none;
		font-size: 10px;
	}
}